@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 68.5%;
}
body {
  margin: 0;
  position: relative;
  font-family: "Zen Maru Gothic", sans-serif;
  transition: 0.6s;
  --main-color: #00b9ef;
  --pick-color: #ffff08;
  --baby-color: #f54fa5;
  --subbg-color: #ffffce;
  --toddler-color: #ff6601;
  --txt-color: #4b4b4b;
}
.visuallyHidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.baby {
  background: var(--baby-color) !important;
}
.toddler {
  background: var(--toddler-color) !important;
}
.body_open {
  opacity: 1 !important;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  transition: 0.6s;
  text-decoration: none;
}
img {
  margin: 0 auto;
  max-width: 100%;
  display: block;
  height: auto !important;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  font-feature-settings: "palt" 1;
  line-height: 1.5;
}
div,
p,
span,
a,
main,
input,
textarea,
ul,
li,
h1,
h2,
h3,
h4,
h5 {
  box-sizing: border-box;
}
main {
  background: #fff;
}
.txt {
  line-height: 180%;
  letter-spacing: 0.06em;
  font-size: 16px;
  color: var(--txt-color);
  font-family: "Noto Sans JP", sans-serif;
}
.sec_in {
  margin: 0 auto;
  width: 92%;
  max-width: 388px;
}
/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  &::-webkit-search-decoration {
    display: none;
  }
  &::focus {
    outline-offset: -2px;
  }
}
// レスポンシブnone
@media only screen and (max-width: 1366px) {
  .pc2 {
    display: none !important;
  }
}
@media only screen and (max-width: 1024px) {
  .pc {
    display: none !important;
  }
}
@media only screen and (max-width: 667px) {
  .pc_tab {
    display: none !important;
  }
}
@media only screen and (min-width: 1025px) {
  .tab {
    display: none !important;
  }
}
@media only screen and (min-width: 668px) {
  .sp {
    display: none !important;
  }
}
/*****************************************
 pcビジュアル
****************************************/
.pc_left,
.pc_right {
  position: fixed;
  display: block;
  width: 0;
  top: 0;
  @media only screen and (min-width: 500px) {
    width: calc(50% - 214px);
    height: 100vh;
  }
}
.pc_left {
  left: 0;
  background-size: 83px 94px, 164px 167px, cover;
  background-position: top 50px left 50px, bottom 0 right 10%, bottom;
  background-repeat: no-repeat;
  background-image: url(../../public/common/pc_left_bg_dec.png), url(../../public/common/pc_left_bg_dec2.png),
    url(../../public/common/pc_left_bg.png);
  .pc_nav_wrap {
    width: 280px;
    height: 100%;
    left: 10%;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    ul.pc_nav {
      li.pc_nav_li {
        padding: 0 0 20px;
        &:nth-child(n+2){
          padding: 20px 0;
        }
        border-bottom: 1px solid var(--main-color);
        a {
          display: table;
          font-size: 18px;
          position: relative;
          color: var(--main-color);
          padding: 0 0 0 25px;
          &::after,&::before{
            background: var(--main-color);
            content: "";
            position: absolute;
          }
          &::before{
            left: 25px;
            bottom: -4px;
            width: 0;
            height: 1px;
            transition: 0.6s;
          }
          &::after {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            left: 0;
            top: 5px;
          }
          &:hover{
            opacity: 0.6;
            &::before{
              width: calc(100% - 25px);
            }
          }
        }
      }
    }
  }
}
.pc_right {
  overflow: hidden;
  right: 0;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url(../../public/common/pc_right_bg.png);
  .pc_logo {
    position: absolute;
    right: 10%;
    bottom: 30px;
    width: 150px;
  }
}
.con_main {
  position: relative;
  padding: 0 0 74px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  @media only screen and (min-width: 429px) {
    width: 428px;
  }
  .con_main_in {
    overflow-x: hidden;
  }
  .com_bt_fix {
    pointer-events: none;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    width: 100%;
    height: 100svh;
    z-index: 99;
    @media only screen and (min-width: 500px) {
      width: 429px;
    }
  }
}
/*****************************************
 共通ボタン
****************************************/
.bt {
  position: relative;
  z-index: 0;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--pick-color);
    z-index: 1;
    font-weight: bold;
    color: var(--main-color);
    font-size: 19px;
    padding: 15px;
    .icon {
      display: block;
      width: 24px;
      height: 24px;
    }
  }
  &::after {
    z-index: -1;
    background: #d6d604;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 3px;
    top: 3px;
  }
}
/*****************************************
 スクロールで隠す
****************************************/
.UpMovemain {
  padding: 0 !important;
}
.UpMove {
  transform: translateY(100%);
  opacity: 0;
}
.SideMove {
  transform: translateX(100%);
  opacity: 0;
}
/*****************************************
 共通太字
****************************************/
.h_tl {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 22px;
  line-height: 180%;
}
/*****************************************
 タイトル点線
****************************************/
.txt_border {
  position: relative;
  &::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    border-bottom: 4px dotted var(--pick-color);
    content: "";
    width: 100%;
  }
}
/*****************************************
 振動アニメーション
****************************************/
.vibration {
  animation-delay: 0.6s;
  animation: purupuru_anim 1.5s backwards;
}

@keyframes purupuru_anim {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(-5px, -0);
  }
  10% {
    transform: translate(5px, 0);
  }
  15% {
    transform: translate(-5px, -0);
  }
  20% {
    transform: translate(5px, 0);
  }
  25% {
    transform: translate(-5px, -0);
  }
  30% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
/*****************************************
 inview　アニメーション
****************************************/
.fadeInup {
  animation: fadeInup 0.6s linear both;
  animation-delay: 0.3s;
}

@keyframes fadeInup {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
